* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    font-family: "Poppins" sans-serif;

    box-sizing: border-box;
    line-height: normal;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.menu a {
    width: 100%;
    font-size: 30px;
    color: black;
    display: flex;
    align-items: center;
    line-height: 50px;
}

.menu a:hover,
.menu .active {
    color: palevioletred;
}

.menu .i {
    margin-right: 2rem;
    font-size: 45px;
}

.menu a:hover::before,
.menu .active::before {
    content: '';
    position: absolute;
    right: 0;
    width: 5px;
    height: 17px;
    background: #e2336b;


}

input {
    border: 2px solid purple;
    height: 40px;
    width: 500px;
    border-radius: 20px;
    padding: 0px 20px;
    transform: translate(90%)
}

.activity {
    width: 100%;
    height: 50px;
}

.navbar {
    background: #FFFFFF;
}

.popular {
    background: #F3F6FD;

}

body {
    background: #E9F3FF;
}



.main-post {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;


}

.post-box {
    width: 400px;
}

.post-box img {
    width: 90%;
    height: 410px;
    object-fit: cover;
    border-radius: 0.5rem;
}

.post-info {
    display: flex;
    align-items: center;

    justify-content: space-between;
}

.post-img {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 35px;
    height: 35px;
    border: 2px solid #e2336b;
    border-radius: 50%;
}

.post-img img {
    width: 27px;
    height: 27px;
    object-fit: cover;
    border-radius: 50%;
    object-position: center;

}

.post-profile {
    display: flex;
    align-items: center;

}

.post-profile h3 {
    font-size: 12px;
    font-weight: 600px;
    margin-left: 5px;

}

.likes {
    display: flex;
    align-items: center;
}

.likes i {
    font-size: 20px;
    margin-left: 10px;
}

.likes span {
    font-size: 14;
    margin-left: 7px;
}

.box {
    width: 350px;
    height: 250px;
    background: #FFFFFF;

}

.btn {
    color: black;
    background: #6892c5;




}

.button {
    color: black;
    background: wheat;
    padding: 15px 154px;

    font-size: 30px;

}



* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}



.chat {
    width: 450px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.4);
    background-color: #6892c5;


}

.header h1 {
    color: white;
    padding: 15px;
}

.body {
    flex: 1;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px 30px;
}

.message {
    background-color: dodgerblue;
    padding: 10px;
    color: white;
    width: fit-content;
    border-radius: 10px;
    margin-bottom: 15px;
}

.main {
    margin-right: 40px;
}

.user_message {
    margin-left: auto;
    background-color: white;
    color: black;

}

.footerr form {
    display: flex;
}

form input {
    flex: 3;
    height: 40px;
    border: none;
    outline: none;
    padding-right: 1px;
    font-size: 16px;
}

form button {
    width: 200px;
    height: 35px;
    font-size: none;
    border: none;
    outline: none;
    background-color: dodgerblue;
    color: white;
    cursor: pointer;
}

form button {
    background-color: blue;
    transition: 0.2s ease;
}